$primary: #0056ad;
$success: #679a01;
$warning: #ff8200;
$danger: #ee2a7b;

// Typography
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Typography
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-family-sans-serif: "Nunito", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 1.25rem;
$font-weight-base: $font-weight-light;

$border-radius: 0.3rem;
